
.layout-box {
    display: flex;
    margin-left: 65px;
 //   position: relative;
}

.blog-img {
  width: 50%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 20px;
}

.portfolio-text {
    max-width: 500px;
    margin: 20px;
}

.layout-text {
    position: relative;
    display: flex;
    padding-left: 30px;
}

.blog-text {
    margin: 10px;
    max-width: 410px;
    color: white;
}

@media (max-width: 900px) {
    .layout-box {
        display: flex;
        flex-direction: column;
    }
    .layout-text {
        display: flex;
        flex-direction: column;
    }

    .blog-img {
        width: 70%;
    }
}