.borderline {
    border-bottom: solid;
    width: 900px;
    color: white;
}

.web-image {
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    opacity: 0.9;
}

.container-product {
    position: relative;
    display: flex;
    justify-content: center;
}

.card-product {
    position: relative;
    width: 290px;
    height: 300px;
    margin: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.view-button a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 50px;
    left: 25px;
}

.view-button {
    border-radius: 50%;
    position: relative;
    top: 90px;
    left: 70px;
    background-color: #FFA0F4;
    height: 105px;
    width: 105px;
    opacity: 65%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.view-button:hover {
    opacity: 90%;
    transition: 0.6s;
}

@media (max-width: "800px") {
    .container-product {
    display: flex;
    flex-wrap: wrap;
}
    .card-product {
    width: 300px;
    height: 300px;
    margin: 10px;
    }
    .view-button {
    top: 100px;
    left: 100px;
    height: 100px;
    width: 100px;
    }
}